# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Production & Build Outputs
dist/
dist-ssr/
build/
out/
frontend/dist/
*.local

# Solidity & Hardhat Artifacts
artifacts/
cache/
contracts/qft-tokens/artifacts/
contracts/qft-tokens/cache/
contracts/qft-tokens/deployments/

# Environment Files & Secrets
.env
.env.*
!.env.example
contracts/qft-tokens/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase
firebase-debug.log
firebase-debug.*.log
.firebaserc
firebase.json
*.cache
hosting/.cache
.firebase/
emulator-ui/

# Contracts / Stable Faucet
/contracts/stable-faucet/artifacts
/contracts/stable-faucet/cache
/contracts/stable-faucet/deployments
/contracts/stable-faucet/site/dist

# Editor & OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# IDE Directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

